*{ font-family: DejaVu Sans !important;}
body{
	color: #363a45;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after{
  clear: both;
}
.preview{
  margin: 20px auto;
  width: 720px;
}
.col-left{
  float: left;
  width: 60%;
}
.col-left p{
	margin: 10px 0 0 0;
    text-transform: uppercase;
    line-height: 22px;
}
.col-right{
  float: right;
  width: 40%;
}
h1{
	margin: 0;
	text-align: right;
	text-transform: uppercase;
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.blockUI.blockOverlay::before {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    content: '';
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(loader.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}
.col-right h1{
  font-size: 54px;
}
.top-header{
  text-align: right;
  float: right;
  background: #0b80ef;
  padding: 9px 15px 4px;
      margin-bottom: -2px;
}
.top-header div{
  display: inline-block;
  color: #fff;

}

.top-header div:last-child span{
  border-right: 0;
}
.separator{
  padding: 0 5px;
}
.separator span{
  position: relative;
  top: -4px;

}
.height30{
  height: 30px;
  display: block;
}
.body-detail{
  background: #363a45;
  color: #fff;
  border-spacing: 0;
    border-collapse: collapse;
}
.body-detail h2, .body-detail h3{
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px
}
.body-detail h3{
  font-size: 18px;
  margin-bottom: 0;
}
.body-detail p{
  margin-top: 0;
}
.bodydetail{
  text-align: right;

}
.space{
  width: 5%;
}
.body-heading{
  width: 15%;
  padding-left: 15px;
}
.body-first{
  padding-left: 20px;
}
.body-last{
  padding-right: 20px;
}


.table{
  width: 100%;
}
.table thead{
    background: #cd3334;
    color: #fff;
    text-transform: uppercase;
}
.table th{
  padding: 6px 10px 7px;
  text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: top;
    border-top: 1px solid #ddd;

}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-weight: 300;
}

table{
  border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
}
.table>tbody>tr>td{
  padding-left: 10px;
      padding-bottom: 5px;
}
.table .qty{
  width: 50px;
}
.table th.text-left, .table td.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.padding_r10{
  padding-right: 10px;
}
.float-right{
  text-align: right;
  float: right;
  padding-right: 10px;
}
.group-table{
  border: 1px solid #ddd;
    margin-top: 25px;
}
.first-child{
  border-left: 0 !important;
}
.last-child{
  border-right: 0 !important;
}
.total-full{
  background: #363a45;
  color: #fff;
      padding: 5px 0;
}
.total-full .total-label, .total-col1{
  float: left;
}
.total-col1{
  width: 60%;
}
.total-price{
    float: right;
    padding-right: 10px;
    text-align: right;
}
.total-label{
  text-align: right;
      width: 20%;
      padding-right: 10px;
}
.total-label label{
    display: block;
    text-transform: uppercase;
    margin-right: 10px;
}
.subtotal-table{
  width: 100%;
}
.subtotal-empty{
  width: 60%;
}
.subtotal-table .label, .subtotal-table .span{
  width: 20%;
  text-transform: uppercase;
  padding-right: 10px;
}
.cart_subtotal td{
  padding-top: 15px;
  padding-bottom: 5px;
}
.order_total td{
  padding-bottom: 15px;
}