#growls.default {
  top: 40px;
  right: 10px;
  z-index: 9999;
  position: fixed; }

.nbt-ac-carturl {
  display: block; }

.nbt-ajax-cart {
  position: relative;
  width: 25px;
  float: left;
  top: 19px; }

.nbt-ajax-cart * {
  outline: none !important; }

.nbt-ac-icon {
  position: relative;
  cursor: pointer;
  z-index: 9999; }

.nbt-ac-icon i {
  font-size: 18px;
  position: relative; }

.nbt-mini-cart {
  position: absolute;
  top: 40px;
  width: 300px;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ccc;
  display: none;
  z-index: 999;
  font: 14px/20px Lato, sans-serif;
  color: #69686c; }

.nbt-ajax-cart ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  max-height: 344px; }

@-moz-document url-prefix() {
  .nbt-ajax-cart ul {
    max-height: 426px; } }

.nbt-ajax-cart li, .woocommerce .nbt-ajax-cart li {
  position: relative;
  padding: 5px 0 !important;
  border-bottom: 1px solid #ddd;
  width: 100%; }

.nbt-ajax-cart li .product-price span, .nbt-mini-cart-wrap .woocommerce-Price-currencySymbol {
  color: #e60000 !important; }

.nbt-ajax-cart li .product-price del span {
  color: #616161 !important; }

.nbt-ajax-cart .mCSB_inside > .mCSB_container {
  margin-right: 15px; }

.nbt-ajax-cart .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_draggerRail {
  position: relative;
  right: -6px; }

.nbt-ajax-cart li.empty {
  border-bottom: 0;
  padding-bottom: 0; }

.nbt-ajax-cart li:first-child {
  padding-top: 0 !important;
  border-top: 0; }

.woocommerce .nbt-ajax-cart li:first-child {
  padding-top: 3px !important; }

.nbt-ajax-cart li:hover a, .nbt-ajax-cart li a:hover {
  color: rgba(37, 188, 233, 0.75); }

.nbt-ajax-cart li:before, .nbt-ajax-cart li:after {
  display: table;
  content: ' '; }

.nbt-ajax-cart li:after {
  clear: both; }

.nbt-ajax-cart li img {
  display: block;
  float: none !important;
  margin-right: 10px;
  width: 75px !important;
  height: 75px !important;
  max-width: inherit; }

.nbt-ajax-cart li .nbt-ac-left {
  float: left;
  width: 75px; }

.nbt-ajax-cart li .nbt-ac-right {
  float: left;
  width: calc(100% - 75px);
  padding-left: 15px; }

.nbt-ajax-cart li .nbt-ac-right h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 21px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.nbt-ajax-cart li .nbt-ac-right .product-price span, .nbt-ajax-cart li .nbt-ac-right .product-price {
  color: #616161; }

.nbt-ajax-cart li .quantity {
  display: block;
  font-size: 14px;
  margin-top: 5px; }

.nbt-ajax-cart li a {
  color: rgba(37, 188, 233, 0.75) !important;
  text-decoration: none !important;
  white-space: nowrap;
  padding: 0;
  float: none;
  font-weight: 700 !important; }

.nbt-ajax-cart li > a:nth-child(2) {
  margin-top: -4px;
  font-weight: 700;
  display: block; }

.nbt-ajax-cart li a.remove, .woocommerce .nbt-ajax-cart li a.remove {
  display: none;
  float: right;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;
  background: transparent;
  font-size: 1.5em;
  border: 0;
  position: absolute;
  right: 0;
  top: 5px; }

.woocommerce .nbt-ajax-cart li a.remove:hover {
  color: #fff !important;
  background: transparent; }

.nbt-ajax-cart li:first-child a.remove {
  top: 0px; }

.nbt-ajax-cart ul.mCustomScrollbar a.remove {
  right: 0; }

.nbt-ajax-cart ul.mCustomScrollbar li:first-child a.remove {
  top: 0; }

.nbt-ajax-cart li:hover a.remove {
  display: block; }

.nbt-ajax-cart .scroll-scrolly_visible a.remove {
  margin-right: 8px; }

.nbt-ajax-cart li a.remove:before {
  content: "\e80a";
  display: inline-block;
  font: normal normal normal 14px/1 nbt-fonts;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e2401c;
  line-height: 1.618;
  text-indent: 0;
  text-align: center;
  font-size: 14px; }

.nbt-ajax-cart li a.remove:hover:before {
  color: #e63b3b; }

.nbt-mini-cart .total {
  margin: 10px 0 20px;
  text-align: right;
  font-weight: 700; }

.nbt-mini-cart .buttons {
  text-align: center;
  margin-bottom: 10px; }

.nbt-mini-cart .buttons a, .woocommerce .nbt-mini-cart .buttons a {
  text-transform: none;
  font-size: 100%;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 10px 15px;
  font-weight: 400;
  background: #1d242a;
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  box-shadow: none;
  border-radius: 0; }

.nbt-mini-cart .buttons a:first-child {
  margin-left: 0; }

.nbt-mini-cart .buttons a:last-child {
  margin-right: 0; }

.nbt-mini-cart .buttons a:hover, .woocommerce .nbt-mini-cart .buttons a:hover {
  background: #25bce9;
  color: #fff; }

.nbt-mini-cart .buttons a:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal normal 14px/1 nbt-fonts;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e807";
  margin-left: 0.54079em; }

.nbt-mini-cart dl.variation {
  display: none; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.blockUI.blockOverlay::before {
  height: 1em;
  width: 1em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  content: '';
  -webkit-animation: spin 1s ease-in-out infinite;
  -moz-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  background: url(../img/loader.svg) center center !important;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, .75); }

.nbt-mini-cart .amount {
  color: #e60000; }

.growl.growl-notice {
  background: transparent !important;
  color: transparent;
  padding: 0; }

.admin-bar #growls.default {
  top: 39px; }

.growl-message {
  border: 1px solid #25bce9;
  background: #f0f0f0;
  border-radius: 2px;
  min-height: 70px;
  position: relative; }

.text-notice {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; }

.text-notice {
  padding: 15px;
  color: #363636;
  width: 100%;
  box-sizing: border-box; }

.text-notice a {
  width: 100%;
  color: #fff;
  background: #000;
  border: 1px solid;
  text-transform: none;
  font-style: normal;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
  line-height: inherit;
  display: block;
  height: auto;
  -ms-order: 2;
  order: 2;
  -webkit-order: 2; }

.text-notice a:hover {
  color: #fff;
  background: #25bce9; }

.growl-close {
  color: #000;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  padding: 10px 0 0 10px; }
/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
  margin-bottom: 0 !important; }

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important; }

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0; }

.scroll-element {
  display: none; }

.scroll-element, .scroll-element div {
  box-sizing: content-box; }

.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {
  display: block; }

.scroll-element .scroll-bar, .scroll-element .scroll-arrow {
  cursor: default; }

.scroll-textarea {
  border: 1px solid #ccc;
  border-top-color: #999; }

.scroll-textarea > .scroll-content {
  overflow: hidden !important; }

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important; }

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0; }
/*************** SIMPLE INNER SCROLLBAR ***************/
.cart_list > .scroll-element, .cart_list > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.cart_list > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.cart_list > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%; }

.cart_list > .scroll-element.scroll-y {
  height: 100%;
  right: 0px;
  top: 0;
  width: 8px; }

.cart_list > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.cart_list > .scroll-element .scroll-element_outer, .cart_list > .scroll-element .scroll-element_track, .cart_list > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.cart_list > .scroll-element .scroll-element_track, .cart_list > .scroll-element .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4; }

.cart_list > .scroll-element .scroll-element_track {
  background-color: #e0e0e0; }

.cart_list > .scroll-element .scroll-bar {
  background-color: #c2c2c2; }

.cart_list > .scroll-element:hover .scroll-bar {
  background-color: #919191; }

.cart_list > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }
/* update scrollbar offset if both scrolls are visible */
.cart_list > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px; }

.cart_list > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px; }

.cart_list > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px; }

.cart_list > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px; }

.woocommerce-mini-cart__empty-message {
  margin-bottom: 0;
  padding: 15px 10px; }

.nbt-ac-icon .nbt-ac-count {
  letter-spacing: 1px;
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 111;
  width: 20px;
  height: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder; }

.nbt-mini-cart {
  top: 50px;
  right: 0;
  border-top: 3px #25bce9 solid; }

.nbt-mini-cart:before {
  position: absolute;
  top: 0;
  right: 5px;
  margin-top: -9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #25bce9;
  border-left: 7px solid transparent;
  content: ''; }

.nbt-mini-cart-wrap .woocommerce-product-rating, .woocommerce .nbt-mini-cart-wrap .woocommerce-product-rating {
  line-height: 2;
  display: block; }

.nbt-mini-cart-wrap .woocommerce-product-rating::after, .nbt-mini-cart-wrap .woocommerce-product-rating::before, .woocommerce .nbt-mini-cart-wrap .woocommerce-product-rating::after, .woocommerce .nbt-mini-cart-wrap .woocommerce-product-rating::before {
  content: ' ';
  display: table; }

.nbt-mini-cart-wrap .woocommerce-product-rating::after, .woocommerce .nbt-mini-cart-wrap .woocommerce-product-rating::after {
  clear: both; }

.nbt-mini-cart-wrap .star-rating, .woocommerce .nbt-mini-cart-wrap .star-rating {
  margin: 2px 4px 8px 0 !important;
  float: left;
  overflow: hidden;
  position: relative;
  height: 1.2em;
  color: #fbc443;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star; }

.nbt-mini-cart-wrap .star-rating::before, .woocommerce .nbt-mini-cart-wrap .star-rating::before {
  content: '\73\73\73\73\73';
  color: #fbc443;
  float: left;
  top: 0;
  left: 0;
  position: absolute; }

.nbt-mini-cart-wrap .star-rating span, .woocommerce .nbt-mini-cart-wrap .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em; }

.nbt-mini-cart-wrap .star-rating span::before, .woocommerce .nbt-mini-cart-wrap .star-rating span::before {
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  left: 0; }

.nbt-mini-cart .buttons:after, .nbt-mini-cart .buttons:before {
  content: ' ';
  display: table; }

.nbt-mini-cart .buttons:after {
  clear: both; }

.nbt-cart-list-wrap .mCS_no_scrollbar_y {
  margin-right: 0 !important; }

.nbt-ajaxcart-left:before {
  left: 5px;
  right: auto; }

.ajaxcart-notification {
  display: none; }

@media screen and (max-width: 500px) {
  .nbt-mini-cart {
    width: 240px; }

  .nbt-mini-cart .buttons a, .woocommerce .nbt-mini-cart .buttons a {
    padding: 10px 11px;
    margin: 0 5px; } }
.header-search .nbt-icon-search {
  float: right;
  line-height: 50px;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer; }

.nbt-search-wrapper {
  display: none;
  min-width: 250px;
  padding: 5px 0px;
  border: 1px solid #ccc;
  position: absolute;
  border-top: 3px #25bce9 solid;
  background: #fff;
  z-index: 999;
  top: 73px;
  right: 0; }

.nbt-search-wrapper form {
  padding: 0 10px; }

.nbt-search-wrapper:before {
  position: absolute;
  top: 0;
  right: 5px;
  margin-top: -9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #25bce9;
  border-left: 7px solid transparent;
  content: ''; }

.nbt-search-wrapper input[type~="text"] {
  width: 100%;
  font-weight: normal;
  font-family: Open Sans;
  color: #000;
  font-size: 12px;
  line-height: normal !important;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  border: 0;
  padding-right: 25px; }

.nbt-icon-loading {
  display: none;
  position: absolute;
  right: 5px;
  top: 6px;
  font-size: 18px;
  font-weight: 700; }

.nbt-icon-loading:before {
  color: #000;
  font-weight: 700; }

.nbt-icon-plugins.open .nbt-search-results {
  border-top: 1px solid #d8d8d8;
  margin-top: 6px; }

.nbt-no-result {
  text-align: center;
  color: #222;
  margin: 10px 0 6px; }

.nbt-rs-lists {
  margin: 0 10px;
  padding: 0;
  list-style: none;
  max-height: 342px;
  overflow: hidden; }

.nbt-rs-lists.mCustomScrollbar {
  margin-right: 0; }

.nbt-rs-lists .mCSB_inside > .mCSB_container {
  margin-right: 15px; }

.nbt-rs-lists li {
  border-bottom: 1px solid #d8d8d8;
  padding: 8px 0; }

.nbt-rs-lists li:last-child {
  border-bottom: 0; }

.nbt-rs-lists li:after, .nbt-rs-lists li:before {
  display: table;
  content: " "; }

.nbt-rs-lists li:after {
  clear: both; }

.nbt-rs-lists .nbts-thumb {
  float: left;
  width: 70px; }

.nbt-rs-lists .nbts-thumb img {
  border: 1px solid #d8d8d8; }

.nbt-rs-lists .nbts-info {
  float: right;
  width: calc(100% - 70px);
  padding-left: 10px; }

.nbt-rs-lists .nbts-info h3 {
  font-size: 15px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 21px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.nbt-rs-lists .nbts-info h3 a {
  font-size: 14px;
  line-height: 22px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  color: #444;
  font-weight: 600; }

.nbt-rs-lists .woocommerce-product-rating {
  line-height: 2;
  display: block; }

.nbt-rs-lists .woocommerce-product-rating::after, .nbt-rs-lists .woocommerce-product-rating::before {
  content: ' ';
  display: table; }

.nbt-rs-lists .woocommerce-product-rating::after {
  clear: both; }

.nbt-rs-lists .star-rating {
  margin: 2px 4px 8px 0 !important;
  float: left;
  overflow: hidden;
  position: relative;
  height: 1.2em;
  color: #fbc443;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star; }

.nbt-rs-lists .star-rating::before {
  content: '\73\73\73\73\73';
  color: #fbc443;
  float: left;
  top: 0;
  left: 0;
  position: absolute; }

.nbt-rs-lists .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em; }

.nbt-rs-lists .star-rating span::before {
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  left: 0; }

.nbt-search-wrapper * {
  outline: 0 !important; }
.nbt-page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999; }

.nbt-loading-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  background: url(../img/loading.svg);
  background-size: 100px 100px;
  margin-top: -2%;
  margin-left: -2%; }

.nbtcs-w-wrapper .selected:after {
  content: '\e80b';
  font-family: "nbt-fonts";
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none; }

.nbtcs-w-wrapper .selected.active:after {
  content: '\e80e'; }

.nbt-currency-switcher .nbtcs-w-title {
  float: left; }

.nbt-currency-switcher .widget-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
  line-height: 50px; }

.nbt-currency-switcher .nbt-right-cs {
  float: right;
  position: relative;
  margin-left: 7px; }

.nbtcs-select {
  display: none;
  background: #fff;
  position: absolute;
  top: 50px;
  font-size: 13px;
  line-height: 19px;
  z-index: 9999; }

.nbtcs-select a {
  padding: 3px 20px 3px 10px;
  display: block;
  white-space: nowrap;
  color: #444 !important;
  text-decoration: none !important; }

.nbtcs-select a:hover {
  background-color: rgba(37, 188, 233, 0.75);
  color: #fff !important; }

.nbtcs-w-wrapper .selected {
  cursor: pointer;
  margin-top: 1px;
  display: block; }
.hidden {
  display: none !important;
  visibility: hidden !important; }

.nbtcs-swatches {
  position: relative;
  overflow: hidden;
  padding: 5px; }

.nbtcs-swatches .swatch:not(.swatch-radio) {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  opacity: 0.7; }

.nbtcs-swatches .swatch:not(.swatch-radio).circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.nbtcs-swatches .swatch:not(.swatch-radio).selected {
  -webkit-box-shadow: 0 0 5px;
  -moz-box-shadow: 0 0 5px;
  box-shadow: 0 0 5px;
  border-color: #999;
  opacity: 1; }

.nbtcs-swatches .swatch.disabled {
  opacity: 0.1; }

.nbtcs-swatches .swatch-color {
  text-indent: -9999px; }

.swatches-radio {
  margin: 0;
  padding: 0;
  list-style: none; }

.swatches-radio li {
  color: #aaa;
  display: block;
  position: relative;
  width: 100%; }

.swatches-radio li input[type=radio] {
  position: absolute;
  visibility: hidden; }

.swatches-radio li label {
  display: inline-block;
  position: relative;
  font-weight: 300;
  padding: 0 21px 5px 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear; }

.swatches-radio li:hover label {
  color: #fff; }

.swatches-radio li .check {
  display: block;
  position: absolute;
  border: 2px solid #aaa;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 0;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear; }

.swatches-radio li .check.circle {
  border-radius: 100%; }

.swatches-radio li:hover .check {
  border: 2px solid #fff; }

.swatches-radio li .check::before {
  display: block;
  position: absolute;
  content: '';
  height: 7px;
  width: 7px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear; }

.swatches-radio li .check.circle::before {
  border-radius: 100%; }

.swatches-radio input[type=radio]:checked ~ .check {
  border: 2px solid #000; }

.swatches-radio input[type=radio]:checked ~ .check::before {
  background: #000; }

.swatches-radio input[type=radio]:checked ~ label {
  color: #000; }

.nbtcs-swatches .swatch-color.selected {
  border-color: transparent; }

.nbtcs-swatches .swatch-color.selected:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  width: 6px;
  height: 10px;
  display: block;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 7px;
  left: 11px; }

.nbtcs-swatches .swatch-label {
  background-color: #f1f1f1; }

.nbtcs-swatches .swatch-image {
  overflow: hidden; }

#nbtcs-unlinebreak table.variations tbody td {
  display: table-cell;
  border-bottom: 1px solid #efefef;
  vertical-align: middle; }

#nbtcs-unlinebreak table.variations tbody td.label {
  width: 25%; }

#nbtcs-unlinebreak .nbtcs-swatches {
  padding: 10px 0 5px 5px;
  vertical-align: middle;
  display: inline-table; }

#nbtcs-unlinebreak table.variations tbody > tr:first-child .nbtcs-swatches {
  padding-top: 5px;
  padding-bottom: 15px; }

.no-selected {
  display: none; }
ul.nbt-brands-carousel li .nbt-bc-thumb, .nbt-brands-thumbnail li .nbt-bc-thumb {
  position: relative;
  border: 1px solid #959595;
  display: inline-block; }

ul.nbt-brands-carousel li .nbt-bc-thumb:before, .nbt-brands-thumbnail li .nbt-bc-thumb:before {
  border-bottom: 1px solid rgba(37, 188, 233, .8);
  border-top: 1px solid rgba(37, 188, 233, .8);
  bottom: -1px;
  content: "";
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
  transform: scale(0, 1);
  pointer-events: none;
  z-index: 9; }

ul.nbt-brands-carousel li .nbt-bc-thumb:after, .nbt-brands-thumbnail li .nbt-bc-thumb:after {
  border-left: 1px solid rgba(37, 188, 233, .8);
  border-right: 1px solid rgba(37, 188, 233, .8);
  bottom: -1px;
  content: "";
  left: -1px;
  position: absolute;
  pointer-events: none;
  right: -1px;
  top: -1px;
  transform: scale(1, 0);
  z-index: 9; }

ul.nbt-brands-carousel li .nbt-bc-thumb:hover, .nbt-brands-thumbnail li .nbt-bc-thumb:hover {
  border: 1px solid transparent; }

ul.nbt-brands-carousel li .nbt-bc-thumb:hover:before, .nbt-brands-thumbnail li .nbt-bc-thumb:hover:before {
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s; }

ul.nbt-brands-carousel li .nbt-bc-thumb:hover:after, .nbt-brands-thumbnail li .nbt-bc-thumb:hover:after {
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s; }

ul.nbt-brands-carousel li img {
  display: block;
  width: 100%; }

.nbt-brands-carousel .owl-nav .owl-prev, .nbt-brands-carousel .owl-nav .owl-next {
  top: 22%; }

#secondary .widget .widget-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px; }

ul.nbt-brands-thumbnail {
  margin: -7.5px -5px 0; }

ul.nbt-brands-thumbnail li {
  float: left;
  width: 50%;
  padding: 7.5px; }
#nbt-order-upload .btn {
  width: 30px;
  height: 30px; }

.file-upload {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 150px; }

.file-upload input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer; }

.file-preview img {
  width: 100%;
  height: auto; }

.file-preview .ibenic_file_preview {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.ibenic_file_delete {
  position: absolute;
  width: 100%;
  top: 98%;
  left: 0;
  padding: 0.5em;
  text-align: center;
  color: white;
  background-color: red; }
/* Start CSS */
.nbt-upload-zone {
  position: relative;
  overflow: hidden; }

.nbt-upload-zone .nbt-oupload-target {
  border: 3px dashed #607d8b;
  text-align: center;
  padding: 25px;
  border-radius: 2px;
  color: #455a64;
  font-size: 14px;
  -webkit-transition: background 0.15s linear, border 0.15s linear, color 0.15s linear, opacity 0.15s linear;
  transition: background 0.15s linear, border 0.15s linear, color 0.15s linear, opacity 0.15s linear;
  background: #fff;
  cursor: pointer; }

.nbt-upload-zone:hover .nbt-oupload-target, .nbt-upload-zone.dragover .nbt-oupload-target {
  background: #cfd8dc;
  border-color: #546e7a;
  color: #263238; }

.nbt-upload-input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1px;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border: 1px solid #455a64;
  border-radius: 2px;
  color: #455a64;
  font-size: 16px; }

.nbt-oupload-header {
  background: #efefef;
  height: 35px; }

.nbt-oupload-body {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; }

.nbt-file {
  padding: 5px 6px;
  background-color: #fff;
  position: relative;
  border-top: 1px solid #ddd;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.nbt-file:before, .nbt-file:after {
  content: " ";
  display: table; }

.nbt-file:after {
  clear: both; }

.nbt-oupload-output {
  margin: 20px 0; }

.nbt-file-left {
  background: #dcdbdb;
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #dcdbdb; }

.nbt-file-right {
  float: left;
  width: 100%;
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  padding-left: 10px; }

.nbt-file-right .name {
  padding: 5px 30px 3px 0px;
  font-weight: 500;
  font-size: 13px; }

.nbt-file-right .size {
  font-size: 10px;
  color: #999;
  padding: 0 30px 0px 0px; }

#nbt-order-upload .progress {
  margin-bottom: 0;
  display: none;
  height: 10px;
  border-radius: 0; }

.nbt-icon-cancel {
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 6px;
  background: #d21919;
  width: 22px;
  height: 19px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  font-size: 12px; }

.nbt-icon-cancel:hover {
  background: #bf3232;
  color: #fff; }

.nbt-icon-cancel:before {
  margin: 0; }

.nbt-file.error {
  border-top: 1px solid #d8a8a8;
  background: #fde3e3; }

.nbt-file.success {
  border-top: 1px solid #8dca9d;
  background: #ecfeda; }

.nbt-ou-msg {
  font-size: 11px;
  white-space: nowrap;
  border: 1px solid #b55656;
  overflow: hidden;
  display: block;
  width: 100%;
  background: #e69090;
  padding: 1px 3px;
  margin-top: 3px; }

.nbt-show-files {
  margin-bottom: 5px; }

.nbt-show-files .toggle-order-upload {
  font-size: 13px !important;
  cursor: pointer;
  text-transform: inherit !important; }

.nbt-show-files .toggle-order-upload i {
  top: 1px;
  position: relative;
  left: -2px; }

.nbt-show-files .toggle-order-upload.active .nbt-icon-down-open:before {
  content: '\e80e'; }

.nbt-show-files ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.nbt-show-files ul li {
  border-bottom: 1px solid #f1f1f1;
  padding-left: 15px;
  padding: 5px 0;
  color: #757575;
  font-size: 13px; }

.nbt-show-files ul li:last-child {
  border-bottom: 0; }

.nbt-show-files ul li {
  list-style-type: inherit !important; }

.nbt-show-files ul li:after, .nbt-show-files ul li:before {
  content: ' ';
  display: table; }

.nbt-show-files ul li:after {
  clear: both; }

.left-files {
  float: left;
  width: 35px; }

.left-files img {
  border: 1px solid #ccc; }

.right-files {
  float: right;
  width: calc(100% - 35px);
  padding-left: 10px; }

.right-files h4 {
  margin: 0 0 3px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 600; }

.product-name {
  width: 50%; }

.right-files p {
  font-size: 12px;
  margin: 0;
  color: #444; }

.btn-upload-fast {
  padding: 5px 13px !important;
  color: #fff;
  border-radius: 0 !important;
  font-size: 13px !important;
  font-weight: 600 !important; }

td.product-name .nbt-ou-fast a, .product-name .nbt-ou-fast a:hover {
  color: #fff !important;
  text-transform: inherit !important; }

#nbt-order-page {
  width: 50%;
  margin: 0 auto 45px auto; }

.nbtou-forward {
  text-align: right; }

.nbtou-forward a {
  color: #fff; }

.nbtou-forward a:hover, .nbtou-forward a:focus {
  color: #fff; }

.nbtou-forward a.btn-ou-checkout {
  display: inline-block;
  margin-left: 15px; }
#nbt-alert {
  border: 1px solid #ccc;
  padding: 0 15px;
  margin-bottom: 15px; }

#nbt_alerts_submit {
  text-transform: uppercase;
  border-radius: 0px;
  padding: 12px;
  transition: all 0.2s ease-out 0s;
  color: #fff;
  margin-bottom: 15px; }

#nbt_alerts_submit:hover {
  background: #fbc443;
  color: #fff;
  border-color: #fbc443; }

#nbt_alerts_email {
  width: 100%;
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d7d7d7;
  border-image: initial;
  padding: 8px 10px;
  margin-bottom: 15px; }

#nbt-alert .g-recaptcha {
  margin-bottom: 15px; }

#nbt_alerts_headline {
  font-weight: 600; }

.nbt-notifi-change {
  display: block;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 13px; }
.nbt-faqs-container {
  margin-top: -30px; }

.nbt-faqs-container h3 {
  font-weight: 700 !important;
  font-size: 18px !important;
  margin-top: 30px; }

.nbt-faqs-container ul {
  margin: 0 0 15px;
  padding: 0;
  list-style: none; }

.nbt-faqs-container ul li {
  border-bottom: 1px solid #e8e8e8; }

.nbt-faqs-container ul h4 {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  position: relative; }

.nbt-faqs-container ul h4 span {
  position: absolute;
  top: 10px;
  right: 10px; }

.nbt-faqs-container ul h4 span:before {
  font-family: "nbt-fonts";
  content: '\e811'; }

.nbt-faqs-container ul h4.active span:before {
  content: '\e810'; }

.nbt-faq-content {
  display: none;
  padding-bottom: 10px;
  padding-left: 15px; }
.woocommerce-order-received .woocommerce {
  margin-bottom: 30px; }
.pure-table {
  width: 100%;
  border-collapse: collapse;
  z-index: 1;
  margin-bottom: 0 !important; }

.pure-table, .pure-table th, .pure-table td {
  empty-cells: show;
  border: 1px solid #e0e0e0; }

.woocommerce div.product form.cart table.pure-table td {
  padding: 10px 20px 10px 20px;
  white-space: nowrap; }

.heading-center, .woocommerce div.product form.cart table.pure-table td:not(.attr-name) {
  text-align: center; }

.attr-name {
  font-weight: 700;
  background: #efefef;
  color: #333;
  text-transform: uppercase;
  font-size: 14px; }

.pure-table .price:hover, .pure-table .price {
  font-size: 14px !important;
  color: #747577 !important; }

.woocommerce div.product form.cart table.horizontal-3 tbody > tr:first-child {
  background: #dadada;
  color: #747577; }

.woocommerce div.product form.cart table.horizontal-3 tbody tr:nth-child(even) {
  background: #ececec;
  color: #747577; }

.pure-table .price:hover, .pure-table .price.selected {
  background: #efefef;
  color: #b31010;
  cursor: pointer; }
/* .pure-table .price:hover > span.pm-price-wrap, .pure-table .price.selected > span.pm-price-wrap {
 position: absolute;
 left: -1px;
 right: -1px;
 top: -1px;
 bottom: -1px;
 background: #ecf6f3;
 border: 1px solid #00a76d;
 color: #00a76d;
 cursor: pointer;
 display: block;
 } */
.pure-table .pm-price-wrap:not(.show) del {
  display: none; }

.pure-table .price ins {
  text-decoration: none;
  background: transparent;
  color: #747577; }

.woocommerce-variation-price ins {
  color: red; }

.woocommerce div.product form.cart .variations {
  width: 375px; }

.woocommerce div.product form.cart .variations td.label {
  width: 30%;
  color: #000;
  text-align: left; }

.price-matrix-container:before, .price-matrix-container:after {
  display: table;
  content: " "; }

.price-matrix-container:after {
  clear: both; }

.woocommerce div.product form.cart .variations select {
  border-radius: 0;
  padding: 10px 15px;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e6e6e6;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px; }

.woocommerce div.product form.cart .variations label {
  font-weight: 700;
  display: block;
  font-size: 17px; }

.woocommerce div.product form.cart .variations tr {
  align-items: center;
  display: flex; }

.reset_variations {
  display: none; }

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
  margin-bottom: 30px !important; }

.colspan {
  position: static !important; }

.tippy-tooltip {
  background: #efefef !important; }

.tippy-popper[x-placement^=top] [x-arrow] {
  border-top: 7px solid #efefef !important; }

.tippy-popper[x-placement^=bottom] [x-arrow] {
  border-bottom: 7px solid #efefef !important; }

.tippy-popper .tippy-tooltip-content table {
  margin-bottom: 0; }

.tippy-popper .tippy-tooltip-content table tr {
  border-top: 1px dashed #444;
  border-bottom: 0; }

.tippy-popper .tippy-tooltip-content table tr:first-child {
  border-top: 0; }

.tippy-popper .tippy-tooltip-content table tr td {
  float: left;
  text-align: right;
  width: 100px;
  font-size: 14px;
  line-height: 30px;
  color: #444; }

.tippy-popper .tippy-tooltip-content table tr td:first-child {
  width: 145px;
  text-align: left;
  font-size: 14px;
  font-weight: 700; }

.woocommerce div.product form.cart table.pure-table.horizontal-3 td {
  padding: 10px 20px 10px 20px; }

table.table-matrix-4 td {
  padding: 10px 20px 10px 20px !important; }

body.wc-price-matrix table.variations, .table-responsive.hide {
  display: none; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.blockUI.blockOverlay::before {
  height: 1em;
  width: 1em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  content: '';
  -webkit-animation: spin 1s ease-in-out infinite;
  -moz-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  background: url(../images/loader.svg) center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, .75); }

table.un-variations select {
  padding-left: 10px; }

.pure-table .price del span, .woocommerce-variation-price del span {
  margin-right: 0; }

.pure-table .price del {
  margin-right: 5px; }
.nbcs-section {
  float: left;
  width: 100%; }

.nbcs-form ul.nbcs-list-images {
  padding-left: 0;
  list-style: none;
  float: left;
  margin-right: 25px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: nowrap;
  /* Safari 6.1+ */ }

.nbcs-form ul.nbcs-list-images li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle; }

.nbcs-form ul.nbcs-list-images li img {
  width: 100px; }

.nbcs-form ul.nbcs-list-images li.nbcs-plus-icon {
  font-weight: bold; }

.nbcs-form .nbcs-price-box {
  display: block; }

.nbcs-form .nbcs-price-box.clear-price-box {
  clear: both; }

.nbcs-form .nbcs-list-items {
  clear: both; }

.nbcs-form .nbcs-list-items ul {
  padding-left: 0; }

.nbcs-form .nbcs-list-items li.nbcs-item {
  list-style: none;
  font-size: 14px; }

.nbcs-form .nbcs-list-items li.nbcs-item label {
  font-weight: unset; }

.nbcs-form .nbcs-list-items li.unchecked *:not(input) {
  opacity: 0.8; }

.nbcs-form .nbcs-list-items li.nbcs-item span.nbcs-item-name a {
  color: rgba(0, 122, 204, 1); }

.nbcs-form .nbcs-list-items li.nbcs-item span.nbcs-item-name a:hover {
  color: rgba(104, 104, 104, 1); }

.nbcs_this_text {
  font-weight: bold; }

.nbcs-add-to-cart-button {
  margin-bottom: 20px; }

.nbcs-add-to-cart-button input {
  min-height: 40px;
  border: 0;
  margin-top: 15px;
  padding-left: 15px;
  padding: 15px;
  text-transform: uppercase; }
.nbt-page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999; }

.nbt-loading-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  background: url(../img/loading.svg);
  background-size: 100px 100px;
  margin-top: -2%;
  margin-left: -2%; }

.nbtcs-w-wrapper .selected:after {
  content: '\e80b';
  font-family: "nbt-fonts";
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none; }

.nbtcs-w-wrapper .selected.active:after {
  content: '\e80e'; }

.nbt-currency-switcher .nbtcs-w-title {
  float: left; }

.nbt-currency-switcher .widget-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
  line-height: 50px; }

.nbt-currency-switcher .nbt-right-cs {
  float: right;
  position: relative;
  margin-left: 7px; }

.nbtcs-select {
  display: none;
  background: #fff;
  position: absolute;
  top: 50px;
  font-size: 13px;
  line-height: 19px;
  z-index: 9999; }

.nbtcs-select a {
  padding: 3px 20px 3px 10px;
  display: block;
  white-space: nowrap;
  color: #444 !important;
  text-decoration: none !important; }

.nbtcs-select a:hover {
  background-color: rgba(37, 188, 233, 0.75);
  color: #fff !important; }

.nbtcs-w-wrapper .selected {
  cursor: pointer;
  margin-top: 1px;
  display: block; }
