#nbt-order-upload .btn{
	width: 30px;
	height: 30px;
}

.file-upload {
	position: relative;
	display:block;	
	width:150px;
	height:150px;
	border-radius: 3px;
	background-color:rgba(0,0,0,0.3);
	font-size: 14px;
	color:white;
	text-align: center; 
	line-height: 150px;

}

.file-upload input {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.file-preview img{
	width:100%;
	height: auto;
}

.file-preview .ibenic_file_preview {
	position: absolute;
	width:100%;
	height:100%;
	overflow: hidden;
}

.ibenic_file_delete {
	position: absolute;
	width: 100%;
	top:98%;
	left:0;
	padding:0.5em;
	text-align: center;
	color:white;
	background-color:red;
}
/* Start CSS */
.nbt-upload-zone{
	position: relative;
	overflow: hidden;
}
.nbt-upload-zone .nbt-oupload-target{
	border: 3px dashed #607D8B;
	text-align: center;
	padding: 25px;
	border-radius: 2px;
	color: #455A64;
	font-size: 14px;
	-webkit-transition: background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
	transition: background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
	background: #fff;
	cursor: pointer;
}
.nbt-upload-zone:hover .nbt-oupload-target, .nbt-upload-zone.dragover .nbt-oupload-target{
	background: #CFD8DC;
	border-color: #546E7A;
	color: #263238;
}
.nbt-upload-input {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1px;
	opacity: 0;
	pointer-events: none;
	background: #fff;
	border: 1px solid #455a64;
	border-radius: 2px;
	color: #455a64;
	font-size: 16px;
}
.nbt-oupload-header{
	background: #efefef;
	height: 35px;
}
.nbt-oupload-body{
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.nbt-file{
	padding: 5px 6px;
	background-color: #fff;
	position: relative;
	border-top: 1px solid #dddddd;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nbt-file:before, .nbt-file:after {
	content: " ";
	display: table;
}
.nbt-file:after {
	clear: both;
}
.nbt-oupload-output{
	margin: 20px 0;
}
.nbt-file-left{
	background: #dcdbdb;
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border: 1px solid #dcdbdb;
}
.nbt-file-right{
	float: left;
	width: 100%;
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
	width: calc(100% - 50px);
	padding-left: 10px;
}
.nbt-file-right .name {
	padding: 5px 30px 3px 0px;
	font-weight: 500;
	font-size: 13px;
}
.nbt-file-right .size {
	font-size: 10px;
	color: #999999;
	padding: 0 30px 0px 0px;
}
#nbt-order-upload .progress {
	margin-bottom: 0;
	display: none;
	height: 10px;
	border-radius: 0;
}
.nbt-icon-cancel{
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 6px;
    background: #d21919;
    width: 22px;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
}
.nbt-icon-cancel:hover{
	background: #bf3232;
	color: #fff;
}
.nbt-icon-cancel:before {
    margin: 0;
}
.nbt-file.error{
    border-top: 1px solid #d8a8a8;
    background: #fde3e3;
}
.nbt-file.success{
    border-top: 1px solid #8dca9d;
    background: #ecfeda;
}
.nbt-ou-msg{
	font-size: 11px;
    white-space: nowrap;
    border: 1px solid #b55656;
    overflow: hidden;
    display: block;
    width: 100%;
    background: #e69090;
    padding: 1px 3px;
    margin-top: 3px;
}
.nbt-show-files{
margin-bottom: 5px;
}
.nbt-show-files .toggle-order-upload {
  font-size: 13px !important;
  cursor: pointer;
    text-transform: inherit !important; }
  .nbt-show-files .toggle-order-upload i {
    top: 1px;
    position: relative;
    left: -2px; }
  .nbt-show-files .toggle-order-upload.active .nbt-icon-down-open:before {
    content: '\e80e'; }
.nbt-show-files ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nbt-show-files ul li {
border-bottom: 1px solid #f1f1f1;
    padding-left: 15px;
    padding: 5px 0;
    color: #757575;
    font-size: 13px;}
    .nbt-show-files ul li:last-child {
      border-bottom: 0; }
.nbt-show-files ul li{
list-style-type: inherit !important;}
.nbt-show-files ul li:after, .nbt-show-files ul li:before {
    content: ' ';
    display: table;
}
.nbt-show-files ul li:after{
    clear: both;
}
	  .left-files{
	float: left;
	width: 35px;
}
.left-files img{
border: 1px solid #ccc;}
.right-files{
	float: right;
    width: calc(100% - 35px);
    padding-left: 10px;
}
.right-files h4{
    margin: 0 0 3px 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 600;
	
}
.product-name {
  width: 50%; }
.right-files p{
    font-size: 12px;
	margin: 0;
    color: #444;}
	.btn-upload-fast{
	    padding: 5px 13px !important;
    color: #fff;
    border-radius: 0 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
	}
	td.product-name .nbt-ou-fast a, .product-name .nbt-ou-fast a:hover{
		color: #fff !important;
		text-transform: inherit !important;
	}
	#nbt-order-page{
	    width: 50%;
		margin: 0 auto 45px auto;
	}
		.nbtou-forward{
	text-align: right;
	}
	.nbtou-forward a{
	color: #fff;
	}
	.nbtou-forward a:hover,
	.nbtou-forward a:focus{
		color: #fff;
	}
	.nbtou-forward a.btn-ou-checkout{
	display: inline-block;
	margin-left: 15px;}