.pm_repeater {
    border: #DFDFDF solid 1px;
    margin: 0 0 8px;
    background: #F9F9F9;
    border-spacing: 0;
    border-radius: 0;
    table-layout: auto;
    padding: 0;
    width: 100%;
    clear: both;
}
.pm_repeater th.pm-row-zero:before {
    content: "";
    width: 16px;
    display: block;
    height: 1px;
}
.pm_repeater > thead > tr > th:first-child {
    border-left-width: 0;
}
.pm_repeater > thead .pm-th{
    font-weight: 700;
}
.pm_repeater > tbody > tr > th, .pm_repeater > thead > tr > th, .pm_repeater > tbody > tr > td, .pm_repeater > thead > tr > td {
    padding: 8px;
    vertical-align: top;
    background: #fff;
    text-align: left;
    border-style: solid;
    font-weight: normal;
}
.pm_repeater > tbody > tr > th, .pm_repeater > thead > tr > th {
    position: relative;
    color: #333333;
}
.pm_repeater > thead > tr > th {
    border-color: #E1E1E1;
    border-width: 0 0 1px 1px;
}
.pm_repeater .pm-row-zero {
    width: 16px;
    text-align: center !important;
    vertical-align: middle !important;
    position: relative;
}
.pm_repeater > tbody > tr {
    z-index: 1;
}
.pm_repeater > tbody > tr > td {
    border-color: #EDEDED;
    border-width: 1px 0 0 1px;
}
.pm_repeater > tbody > tr > td:first-child {
    border-left-width: 0;
}
.pm_repeater > tbody > tr:first-child > td {
    border-top-width: 0;
}
.pm_repeater .pm-row-zero.order {
    background: #f4f4f4;
    cursor: move;
    color: #aaa;
    text-shadow: #fff 0 1px 0;
}
.pm_repeater .pm-row-zero {
    background: #F9F9F9;
    border-left-color: #DFDFDF;
}
.pm-icon {
    display: inline-block;
    height: 26px;
    width: 26px;
    border: transparent solid 1px;
    border-radius: 100%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
a.pm-icon {
    color: #999;
    border-color: #BBB;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transition: none;
}
a.pm-icon:hover {
    background: #b4b9be none repeat scroll 0 0;
    border-color: transparent;
    color: #fff;
}
.pm-icon.small {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}
.pm_repeater .pm-row-zero .pm-icon {
    display: none;
    position: absolute;
    top: 0;
    margin: -8px 0 0 -3px
}
a.pm-icon.-minus:hover, a.pm-icon.-cancel:hover {
    background-color: #f55e4f;
}
/*--------------------------------------------------------------------------------------------
*
*   acf-icon
*
*--------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'acf';
    src: url('../fonts/acf.eot?50902143');
    src: url('../fonts/acf.eot?50902143#iefix') format('embedded-opentype'), url('../fonts/acf.woff?50902143') format('woff'), url('../fonts/acf.ttf?50902143') format('truetype'), url('../fonts/acf.svg?50902143#acf') format('svg');
    font-weight: normal;
    font-style: normal;
}
.pm-icon:before {
    font-family: "acf";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;

    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.pm_repeater .pm-row-zero .pm-icon.-minus {
    top: 50%;
}
.pm-icon:before{
    position: relative;
    top: 0px;
}
.pm-icon.-plus:before {
    content: '\e800';
}
.pm-icon.-minus:before {
    content: '\e801';
}
.pm_repeater .pm-row:hover > .pm-row-zero .pm-icon {
    display: block;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.blockUI.blockOverlay::before {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    content: '';
    -webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(../img/loader.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0,0,0,.75);
}