<template>
    <div class="app-button-wrap">
        <v-btn
            class="white--text modules-post app-button"
            large
            :disabled="buttonDisable"
            :loading="buttonLoading"
        >Save Settings</v-btn>

        
    </div>
</template>

<script>
export default {
    name: 'app-button',
    props: {
        snackText: {
            type: String,
            default: ''
        },
        snackbar: Boolean,
        buttonDisable: Boolean,
        buttonLoading: Boolean,
        showSnack: Boolean,
        snackbar: Boolean
    }
}
</script>

<style></style>