.nbt-faqs-container{
	margin-top: -30px;
}
.nbt-faqs-container h3{
	font-weight: 700 !important;
    font-size: 18px !important;
	    margin-top: 30px;
}
.nbt-faqs-container ul{
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}
.nbt-faqs-container ul li{
	border-bottom: 1px solid #e8e8e8;
}
.nbt-faqs-container ul h4{
	margin: 0;
	    padding: 10px 0;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}
.nbt-faqs-container ul h4 span{
	position: absolute;
    top: 10px;
    right: 10px;
}
.nbt-faqs-container ul h4 span:before{

	font-family: "nbt-fonts";
	content: '\e811';
}
.nbt-faqs-container ul h4.active span:before{
	content: '\e810';
}
.nbt-faq-content{
	display: none;
    padding-bottom: 10px;
    padding-left: 15px;
}